<!DOCTYPE html>
<html ng-app="crowdapp" ng-cloak>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="vendor/angular/angular.js"></script>
        <link href="vendor/fontawesome/css/font-awesome.css" rel="stylesheet"
        type="text/css">
        <link rel="stylesheet" href="vendor/bootstrap/bootstrap.min.css">
    </head>

    <body>
        <div ng-controller="loginCtrl">

      <div ng-show="inlogger" class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="well">
              <h1>KennisCrowd - admin paneel</h1>
              <hr>
              <blockquote>
                <p>Logt u a.u.b. in met gebruikersnaam + wachtwoord</p>

              </blockquote>
              <form role="form">
                <div class="form-group">
                  <label class="control-label">Gebruikersnaam</label>
                  <input class="form-control" ng-model='user' placeholder="Gebruikersnaam" type="text">
                </div>
                <div class="form-group">
                  <label class="control-label" for="exampleInputPassword1">Wachtwoord</label>
                  <input class="form-control" ng-model='pass' id="exampleInputPassword1"
                  placeholder="wachtwoord" type="password">
                </div>
                <button class="btn btn-default" ng-click="authlogin()">Log in</button>
              </form>
              {{messager}}
            </div>
          </div>
        </div>
      </div>
    </div>



        <div ng-show="backend" class="section">
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand"><span>CrowdAdmin</span></a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-ex-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#/home">Home</a>
                        </li>
                        <li>
                            <a href="#/links">CrowdLinks<br></a>
                        </li>
                        <li>
                            <a href="#/nieuw">Nieuw</a>
                        </li>
                        <li>
                            <a href="#/wijzig">Verwijder gebruikers</a>
                        </li>

                        <li>
                            <a href="#/export">Exporteer CSV</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">Panel title</h3>
                            </div>
                            <div class="panel-body">
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-6"></div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div ng-view></div>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="vendor/angular/angular-route.js"></script>
        <script type="text/javascript" src="vendor/jquery/jquery.js"></script>
        <script type="text/javascript" src="vendor/bootstrap/bootstrap.js"></script>
        <script type="text/javascript" src="js/crowdapp.js"></script>
        <script type="text/javascript" src="vendor/angular/ui-bootstrap-0.13.0.min.js"></script>

        </div>

        </div>
    </body>

</html>
