<div class="jumbotron" ng-controller="homeCtrl">
    <h1>Home</h1>
    <h5>Welkm op het admingedeelte van de KennisCrowd. Hier kunt u:<h5>
            <br>
    <div class="row">
        <div class="col-md-12">
            <ul class="lead">
                <li>Opzoeken van de links van de crowds + formulieren</li>
                <li>Nieuw Evenement aanmaken</li>
                <li>Gebruikers verwijderen</li>
                <li>Gebruikers per evenement als .csv exporteren</li>
            </ul>
        </div>
    </div>    

</div>