<div class="jumbotron" ng-controller="linkCtrl">
    <h2>Crowdlinks</h2>
    <p>...</p>
    <ul class="list-group text-primary">
        <li class="list-group-item" ng-repeat="event in events"><h3>{{event.eventname}}</h3><br><a href="http://www.kenniscrowd.nl/kenniscrowd/form.php#{{event.sleutel}}" target="_blank">www.kenniscrowd.nl/kenniscrowd/form.php#{{event.sleutel}}</a><br><a href="http://www.kenniscrowd.nl/kenniscrowd/index.php?c={{event.sleutel}}" target="_blank">www.kenniscrowd.nl/kenniscrowd/index.php?c={{event.sleutel}}</a></li>

    </ul>



</div>